<section id="education" class="section">
    <h2 class="text-center">Education</h2>
    <div class="container text-justify border-1 rounded-3 p-3 mt-4">
        <div class="row">
            <div class="col-9"><a href="https://cmrithyderabad.edu.in/" style="text-decoration: none; color: inherit;">CMR Institute of Technology</a>, Hyderabad</div>
            <div class="col-3 text-center">2020 - 2024</div>  
             
        </div>
        <div class="row">
            <div class="col-9">Bachelor's in CSE(AI&ML)</div>
            <div class="col-3 text-center"><strong>CGPA:</strong> 8.28</div>
        </div>
    </div>
</section>