<section id="projects" class="section">
    <h2 class="text-center">My Projects</h2>
    <div class="row mt-4 row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card h-100 bg-secondary text-auto">
                <img src="static/Work-1.png" class="card-img-top" alt="Work-1.png">
                <div class="card-body">
                    <h5 class="card-title">DRUG VERIFICATION SYSTEM</h5>
                    <p class="card-text" style="text-align: justify; text-justify: inter-word;">Engineered a Python-based drug verification system that processed 100,000+ drug reviews using NLP and sentiment analysis to detect adverse drug reactions. Achieved 95% accuracy in identifying counterfeit drugs by leveraging Scikit-Learn, NLTK, and machine learning models for fraud detection. Optimized data pipelines, reducing processing time by 40%, enabling faster identification of harmful medications. Enhanced pharmaceutical safety by providing AI-driven insights, improving regulatory compliance and patient protection.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-secondary text-auto">
                <img src="static/Work-2.png" class="card-img-top" alt="Work-2.png">
                <div class="card-body">
                    <h5 class="card-title">FRAUD DETECTION IN BLOCKCHAIN</h5>
                    <p class="card-text" style="text-align: justify; text-justify: inter-word;">I developed a machine learning-based fraud detection system for blockchain networks, utilizing supervised learning algorithms such as Random Forest, AdaBoost, and Support Vector Machines (SVM). I preprocessed the data using advanced techniques like node embedding (node2vec) and conducted thorough evaluations through bootstrap sampling, achieving an accuracy of up to 97%. I also performed a comparative analysis of multiple models to identify the most efficient solutions, contributing to enhanced security in blockchain transactions.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 bg-secondary text-auto">
                <img src="static/Work-3.jpg" class="card-img-top" alt="Work-3.jpg">
                <div class="card-body">
                    <h5 class="card-title">PORTFOLIO BUILD WITH FLASK FRAMEWORK</h5>
                    <p class="card-text" style="text-align: justify; text-justify: inter-word;">Implemented a portfolio website using the Flask framework, enhancing load times by 40% and integrating dynamic content management, resulting in an intuitive user experience. The application features my profile, provide my contact email, and include links to my LinkedIn and GitHub profiles for easy connection. Additionally, I implemented a download button to allow visitors to download my resume online. Enhanced the portfolio website's backend with database integration, facilitating seamless updates and reducing manual content entry by 50%, while improving site scalability.</p>
                </div>
            </div>
        </div>
    </div>
</section>