<section id="skills" class="section">
    <h2 class="text-center">Skills & Tools</h2>
    <div class="containner text-center">
        <div class="row">
            <div class="col-6">
                <h5 class="text-justify text-info">** <b>Technical & Soft Skills</b> **</h5>
                <!-- <ul>
                    {% for skill in skills %}
                        <li>Skill</li>
                    {% endfor %}
                </ul> -->
                <li class="fst-italic">Python, JavaScript, Java</li>
                <li class="fst-italic">Git & Version Control (GitHub)</li>
                <li class="fst-italic">Data Visualization (Matplotlib)</li>
                <li class="fst-italic">APIs Integration, Agile & Scrum Methodologies</li>
                <li class="fst-italic">Data Preprocessing (Pandas, NumPy, Scikit-Learn)</li>
                <li class="fst-italic">Machine Learning Algorithms (SVM, Decision Tree, NLTK)</li>
            </div>
            <div class="col-6">
                <h5 class="text-justify text-info">** Tools & Frameworks **</h5>
                <!-- <ul>
                    {% for skill in skills %}
                        <li>Skill</li>
                    {% endfor %}
                </ul> -->
                <li>Web Development:</li>
                <p class="fst-italic m-0">HTML & CSS</p>
                <p class="fst-italic m-0">Bootstrap</p>
                <p class="fst-italic m-0">Flask</p>
                <li>Databases & Data Management:</li>
                <p class="fst-italic m-0">SQL (MySQL)</p>                
                <p class="fst-italic m-0">SQL (sqlalchemy, pymysql)</p>                

                <!-- <p class="fst-italic m-0">NoSQL (MongoDB)</p> -->
            </div>
        </div>
    </div>
</section>